snippet chash
	/*################################################################
		${1}	
		################################################################*/

snippet cdash
	/*---------------------------------------------------------------
		${1}
		---------------------------------------------------------------*/
